{% extends 'base.html.twig' %}
{% block title %}MaitriseWebPro{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/createprofil.css">
{% endblock %}
{% block body %}
<header>
  {# NAVBAR #}
  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav ">
    <a class="navbar-brand" href="/accueil">
      <img src="../img/logo_transpa.png" width="30" height="30" alt="logo" id="logo">
    </a>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <ul class="navbar-nav mr-auto ">
      <li class="nav-item dropdown notifications-nav">
            <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
              <span class="badge red">3</span> <i class="fas fa-bell"></i>
              <span class="d-none d-md-inline-block">Notifications</span>
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item waves-effect waves-light" href="#">
                <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                <span>Nouvelle Notification</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 13 min</span>
              </a>
              <a class="dropdown-item waves-effect waves-light" href="#">
                <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                <span>Nouvelle Notification</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 33 min</span>
              </a>
              <a class="dropdown-item waves-effect waves-light" href="#">
                <i class="fas fa-chart-line mr-2" aria-hidden="true"></i>
                <span>Nouvelle Notification</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 53 min</span>
              </a>
            </div>
          </li>
        {% if app.user %}
        <li class="nav-item dropdown">
          <div class="chip chip-lg aqua-gradient white-text nav-link dropdown-toggle" id="navbarDropdownMenuLink"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="padding-right: 1rem;">
            <img src="../img/{{app.user.avatar}}" class="avatar avatar-mini" alt="Avatar de {{app.user.NameUser}}">
            Bienvenue {{app.user.NameUser}}
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ path('editProfil', {'id':app.user.id})  }}">Edit Profil</a>
            {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('createProfil') }}" class="dropdown-item">Create Profil</a>
            {% endif %}
            <a class="navbar-logout dropdown-item" href="{{ path('logout')}}" data-toggle="tooltip" title="Déconnexion">
              Déconnexion
            </a>
            <a class="dropdown-item" href="#">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1" name="dark_light"
                  onclick="toggleDarkLight()">Thème sombre</label>
              </div>
            </a>
          </div>
        </li>
        {% endif %}
      </ul>
    </form>
  </nav>
  {#  END NAVBAR #}
</header>
<main class="global">

  <div class="container" style="padding-top: 5em;">
  <hr>
    <h1 id="home">Création de Profil :</h1>
      <hr>
  </div>

  <div class="container" style="text-align: -webkit-center; margin-bottom: 7em; margin-top: 6em;">
<section class="form-dark">
  <div class="card card-image"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg');">
    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
      <div class="md-form">
       {{ form_start(form) }}
       {{ form_widget(form) }}
     </div>
        <div class="form-check my-4">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
          <label class="form-check-label white-text" for="defaultCheck17">Accept the<a href="#"
              class="green-text font-weight-bold"> Terms and Conditions</a></label>
        </div>
      <div class="row d-flex align-items-center mb-4">
        <div class="text-center mb-3 col-md-12">
           <button class="btn btn-mdb-color">Create</button>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</section>
</div>
</main>
{% endblock %}
{% block javascripts %}
<script src="/js/main.js"></script>
{% endblock %}