{% extends 'base.html.twig' %}
{% block title %}MaitriseWebPro{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/login.css') }}">{% endblock %}
{% block body %}
{% if error %}
<div class="alert alert-danger">
    {{ error.messageKey }}
</div>
{% endif %}
<main class="global col-sm-12">
    <div class="container">
        <center>
            <img src="img/logo_transpa.png" alt="logo">
        </center>
        <h1 class="text-center text-dark">Maitrise<strong>WEB</strong>Pro<h1>
    </div>
    {# START CONNECT FORM #}
            <form action="{{ path('index') }}" method="post" class="form-signin">
                <fieldset>
                    <legend><i class="fa fa-lock" aria-hidden="true"></i> Connexion</legend>
                    <div class="form-group">
                        <label for="username">Identifiant</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"
                            class="form-control" placeholder="Identifiant"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <button type="submit" class="btn btn-mdb-color">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Connexion
                    </button>
                </fieldset>
            </form>
    {# END CONNECT FORM #}
</main>
{% endblock %}