{% extends 'base.html.twig' %}
{% block title %}MaitriseWebPro{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/todolist.css">
{% endblock %}
{% block body %}
<header>

{# Début barre de navigation #}

  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar double-nav">
    <a class="navbar-brand" href="/accueil">
      <img src="../img/logo_transpa.png" width="30" height="30" alt="logo" id="logo">
    </a>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <ul class="navbar-nav mr-auto ">
      <li class="nav-item dropdown notifications-nav">
            <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
              <span class="badge red">3</span> <i class="fas fa-bell"></i>
              <span class="d-none d-md-inline-block">Notifications</span>
            </a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item waves-effect waves-light" href="#">
                <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                <span>Nouvelle Notification</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 13 min</span>
              </a>
              <a class="dropdown-item waves-effect waves-light" href="#">
                <i class="far fa-money-bill-alt mr-2" aria-hidden="true"></i>
                <span>Nouvelle Notification</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 33 min</span>
              </a>
              <a class="dropdown-item waves-effect waves-light" href="#">
                <i class="fas fa-chart-line mr-2" aria-hidden="true"></i>
                <span>Nouvelle Notification</span>
                <span class="float-right"><i class="far fa-clock" aria-hidden="true"></i> 53 min</span>
              </a>
            </div>
          </li>
        {% if app.user %}
        <li class="nav-item dropdown">
          <div class="chip chip-lg aqua-gradient white-text nav-link dropdown-toggle" id="navbarDropdownMenuLink"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="padding-right: 1rem;">
            <img src="../img/{{app.user.avatar}}" class="avatar avatar-mini" alt="Avatar de {{app.user.NameUser}}">
            Bienvenue {{app.user.NameUser}}
          </div>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ path('editProfil', {'id':app.user.id})  }}">Modifier Profil</a>
            {% if app.user and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('createProfil') }}" class="dropdown-item">Créer Profil</a>
            {% endif %}
            <a class="navbar-logout dropdown-item" href="{{ path('logout')}}" data-toggle="tooltip" title="Déconnexion">
              Déconnexion
            </a>
            <a class="dropdown-item" href="#">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1" name="dark_light"
                  onclick="toggleDarkLight()">Thème sombre</label>
              </div>
            </a>
          </div>
        </li>
        {% endif %}
      </ul>
    </form>
  </nav>

{# Fin barre de navigation #}

</header>
<main class="global loading" data-id="{{projet.id}}" id="main" >
  <div class="container" style="padding-top: 6em;">
    <h1>Maitrise <b>Web</b> Pro</h1>
  </div>
  <div class="container-fluid" >
    <hr>
      <div class="row" style="align-items: center;">
        <div class="col-3">
          <H2><u>{{ projet.nameProjet}}</u></H2>
        </div>
      <div class="col-3">
        <h3>Description :</h3>
          <p>{{ projet.descProjet}}</p>
      </div>
    <div class="col-3">
      <img class="img-fluid" src="/img/{{projet.imgProjet}}" style="max-width: 20em;">
    </div>
    <div class="col-3">
        <p style="text-align: start;"><u>Document</u> :{{ projet.docProjet }}
        <button class="btn" id="GetFile"><i class="fa fa-download"></i> Télécharger</button></p>
      </div>
    </div>
    <hr>
  </div>
  <div class="container-fluid">
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">À faire</th>
          <th scope="col">En cours</th>
          <th scope="col">Finie</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Etape 1<br>Maquettage</th>
          <td class="droppable" id="0">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 0 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 0 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">Messagerie</button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#" >
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
          <td class="droppable" id="1">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 1 %}
            <div class="card draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 1 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
          <td class="droppable" id="2" >
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 2 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 2 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">Messagerie</button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Etape 2<br>Contenu et Modif.</th>
          <td class="droppable" id="3">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 3 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 3 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
          <td class="droppable" id="4">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 4 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 4 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
          <td class="droppable" id="5">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 5 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 5 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Etape 3<br>Mise en Production</th>
          <td class="droppable" id="6">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 6 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 6 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
          <td class="droppable" id="7">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 7 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 7 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
          <td class="droppable" id="8">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 8 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 8 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Etape 4<br>Modification</th>
          <td class="droppable" id="9">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 9 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 9 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
          <td class="droppable" id="10">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 10 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 10 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
          <td class="droppable" id="11">
            {% if app.user and is_granted('ROLE_ADMIN') and projet.position == 11 %}
            <div class="draggable " idcard="{{ projet.Position}}">
            {% endif %}
            {% if app.user and projet.position == 11 %}
              <h5 class="card-header primary-color text-dark">{{ projet.nameProjet}} </h5>
              <div class="card-body" style="background-color: #353b50; padding: 0rem;">
                <button type="button" class="btn btn-mdb-color" data-toggle="modal" data-target="#exampleModal">
                  Messagerie
                </button>
                <br>
                {% for user in projet.assignedUsers %}
                <img src="../img/{{user.avatar}}"  data-toggle="tooltip" title="{{user.UserName}}" class="card-img-top avatar-mini" alt="#">
                {% endfor %}
                  {% endif %}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="modal fade right" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog  modal-full-height modal-right" role="document">
        <div class="modal-content">
          <div class="modal-header mdb-color">
            <h5 class="modal-title" id="exampleModalLabel">Messagerierie</h5>
          </div>
              <div class="modal-body" style="text-align:start">
               <div class="container" style="overflow-y: auto; overflow-x: auto; max-height: 30em; border: 1px solid #ced4da;">
                {% for chat in projet.chats %}
                <div class="row" style="margin-left: 2px;">
                  <div class="justify-content-start mb-4">
                    <p><b style="font-weight: bold;"><u>{{ chat.Auteur }} : </u></b><br>{{ chat.Contenu }}</p>
                    <p  class="msg_time">{{ chat.Datechat|localizeddate('none', 'none', 'fr', 'Europe/Paris','d/MM/Y H:m a') }}</p>
                  </div>
                </div>
                {% endfor %}
                </div>
            <div class="md-form">
                {{ form_start(form) }}
                {{ form_widget(form, { 'attr': {'class': 'form-control'} })}}
                <button class="btn btn-mdb-color messagerie-submit">Envoyer</button>
                {{ form_end(form) }}
                </div>
            </div>
            <div class="modal-footer mdb-color">
              <button type="button" class="btn btn-mdb-color" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
</main>
{% endblock %}
{% block javascripts %}
<script>
$('#GetFile').click(function () {
  
    $.ajax({
        url: '/img/{{ projet.docProjet }}',
        method: 'GET',
        xhrFields: {
            responseType: 'blob'
        },
        success: function (data) {
            var a = document.createElement('a');
            var url = window.URL.createObjectURL(data);
            a.href = url;
            a.download = '{{ projet.docProjet }}';
            document.body.append(a);
            a.click();
            a.remove();
            window.URL.revokeObjectURL(url);
        }
    });
});
</script>
<script src="../js/todolist.js"></script>
{% endblock %}